@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



#customer {
    width:100%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    border: 2px solid #ddd;
}

#customer  tr:nth-child(even){background-color: #eee;}

#customer  tr:hover {background-color: #ddd;}

#customer  th {
  font-weight: bold; 
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: black;
  color:whitesmoke;
}

@media
only screen 
and (max-width: 760px), (min-device-width: 768px) 
and (max-device-width: 1024px)  {
    #customer table, thead, tbody, th, td, tr {
        display: block;
    }

    #customer th{
        display: none;
    }

    #customer tr {border: 1px solid grey;}

    #customer td { 
		/* Behave  like a "row" */ 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%;
    }

    #customer td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
    #customer td:nth-of-type(1):before { content: "User_ID"; }
    #customer td:nth-of-type(2):before { content: "User_Name"; }
    #customer td:nth-of-type(3):before { content: "DOB"; }
    #customer td:nth-of-type(4):before { content: "Phone_Number"; }
    #customer td:nth-of-type(5):before { content: "Email"; }
    #customer td:nth-of-type(6):before { content: " Password"; }
    #customer td:nth-of-type(7):before { content: "Date"; }
}

@media
only screen 
and (min-device-width: 1025px){
    #customer td,#customer th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
}