@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body, #root, .App { height: 100%; }

body{
    margin: 0;
    background-color: #f2f2f2;
}

.App {
    width: 100%;
}

.main-body {
    height: 100%;
    width: 100%;
}

.main-dash-container {
    width: 100%;
    height: 100%;
}

.sub-dash-container {
    width: 100%;
    padding-top: 100px;
}

.sub-container-inside {
    float: left;
    width: 75%;
    height: 170px;
}

.dash-update {
    height: 50px;
    background-color: blueviolet;
    text-align:center;
    padding: 14px 16px;
}

.dash-list {
    height: 120px;
    background-color: burlywood;
}

.dash-list-info {
    display: inline;
    margin-left: 60px;
    margin-top: 10px;
    float: left;
    height: 100px;
    width: 18%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.add-contents {
    float: right;
    width: 25%;
    height: 170px;
}

.sub-add-contents {
    height:43px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
}

.dash-label {
    margin-left: 70px;
    float: left;
    margin-top: 10px;
}

.add_btn {
    border: solid 2px black;
    display: inline-block;
    height: 34px;
    width: 150px;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 55px;
    border-radius: 9px;
}

.add_btn:hover{
    background-color: lightsteelblue;
}


.dash-cal {
    width: 100%;
    height: 417px;
}

.dash-total {
    width: 50%;
    height: 417px;
    background-color: coral;
    float: left;
}

.dash-chart {
    background-color: darkcyan;
    height: 417px;
    width: 50%;
    float: right;
}