@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body, #root, .App { height: 100%; }

body{
    margin: 0;
    background-color: #f2f2f2;
}

.App {
    width: 100%;
}

.main-body{
    height: 100%;
    width: 100%;
}

.order-main-container {
    width: 100%;
    height: 100%;
}

.order-container {
    height: 100%;
    width:100%; 
}

.order-sub-header {
    width:100%;
    height: 80px;
    padding-top: 100px;
    padding-bottom: 37px;
}

.order-search {
    float: left;
}

.order-label {
    font-size: .9em;
    padding-left:100px;
    color:black;
    padding-right: 6px;
}

.order-staus {
    float: left;
    padding-right: 200px;
}

::placeholder {
    color: #7e8a97;
    opacity: 1;
}

.order-info {
    width:100%;
    height: 549px;
}







